html {
    font-size: 10px; /* px は「ピクセル」 (pixels) の意味。ベースフォントサイズは 10 ピクセルの高さになった */
    font-family: "Open Sans", sans-serif; /* これが Google フォントから取得した残りの出力になるはず。 */
    background-color: #c599b8;      
}

h1 {
    font-size: 60px;
    text-align: center;
    margin:0;
    padding:20px 0;
    color:#1277c9bd;
    text-shadow: 3px 3px 1px black;
}
  
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #12d128c3;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img{
    display:block;
    margin:0 auto;
}
  
  